.Business {
    display: inline;
    text-align: center;
    color: black;
    padding: 10px;
    margin: auto;
    max-width: 300px;
}

.Business h2 {
    text-align: left;
    font-size: 25px;
}

.imageContainer img{
    max-width: 300px;
    height: auto;
    resizeMode: 'contain';
    overflow: hidden;
}

* {
    font-family: Helvetica, sans-serif;
}

h3 {
    color:rgb(195, 153, 71);
}

h4 {
    color: rgb(195, 153, 71);
}


.info {
    columns: 2;
    text-align: end;
    line-height: 5px;
}