.Business {
    display: inline;
    text-align: center;
    color: black;
    padding: 10px;
    margin: auto;
}

.imageContainer {
    max-width: 100px;
}

* {
    font-family: Helvetica, sans-serif;
}

h3 {
    color:rgb(195, 153, 71);
}

h4 {
    color: rgb(195, 153, 71);
}