.Business {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.6rem;
    margin: 0 0.5rem 2.3rem 0.5rem;
}

.Business h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.Business .imageContainer{
    height: 16.6rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background: black;
}

* {
    font-family: Helvetica, sans-serif;
}

h3 {
    color:rgb(195, 153, 71);
}

h4 {
    color: rgb(195, 153, 71);
}


.info {
    columns: 2;
}

.info #col1 {
    color: aqua;
}