 .SearchBar {
    display: flex;
    flex-direction: column;
    background-image: url(../Resources/background_search_desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
 }

.SearchBarSortOptions ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    color: white;
    margin-top: 7rem;
}

.SearchBarSortOptions li {
    cursor: pointer;
    width: 4.33rem;
  border-bottom: 1px solid #fff;
  padding: 0 2.58rem 0.33rem 2.58rem;
  line-height: 1.13;
  text-align: center;
  font-weight: 600;
  font-size: 0.83rem;
  transition: color 0.25s;
  list-style: none;

}

.searchFields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
    margin-left: 1.9rem;
}

.searchFields input {
    width: 20rem;
    padding: 0.66rem 1rem;
    margin-right: 2rem;
    border: 1px solid white;
    border-radius: 5px;

}
.button {
    text-align: center;
}

.button a {
    background-color: rgb(195, 153, 71);
    width: 21rem;
    border-radius: 5px;
    padding: 0.72rem 1.7rem;
    color: white;
    font-weight: 600;
    transition: background-color 0.5s;
}

.button a:hover {
    cursor: pointer;
    background-color: #a7874b;
}

