.header {
  text-align: center;
  background-color: rgb(195, 153, 71);
  color: white;
  padding: 20px;
  font-family: Helvetica, sans-serif;
  top: 0;
  margin: 0;

}

.search {
  background-image: url(./Resources/background_search_desktop.jpg);
  top: 0;
}